[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "pytest --durations=10 -vv test -s"
type-check = "mypy src/module1.py"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
black = "==19.3b0"

[packages]
pandas = "*"
numpy = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
